mentor-cli/obj/Debug/net9.0/MentorTrainingRunner.AssemblyInfo.cs
mentor-cli/obj/Debug/net9.0/MentorTrainingRunner.AssemblyInfoInputs.cache
ml-agents-training-results/
ml-agents-training-results-archive/